* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.dom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* opacity: 0; */
  /* transition: opacity 0.5s ease-in-out; */
  /* border: 1px solid red; */
}
.dom.show {
  /* opacity: 1; */
}

.point {
  display: block;
  position: absolute;
  background: #d0cfcf;
  width: 7px;
  height: 7px;
  transform: translateX(-50%);
  border-radius: 10px;
  margin-top: 30px;
  opacity: 0;
}
