$colorMain: rgb(236, 236, 236);
$colorBackground: #111;
$lineColorStart: #662708;
$pro: #935209;
$perso: #7994ad;
$lab: #978066;

:export {
  pro: $pro;
  perso: $perso;
  lab: $lab;
  colorBackground: $colorBackground;
  lineColorStart: $lineColorStart;
}
